body {
  background: url("nature.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
 max-width: 700px;
 float: none;
 margin: 150px auto;
}

.login-left{
  background: rgba(211,211,211,0.5);
  padding: 30px;
}

.login-right{
  background: #fff;
  padding: 30px;
}

a {
  color: #fff !important;

}

h1 {
  color: #fff !important;
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
}
